body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: transparent;
}

#parent {
  min-height: 100%;
  position: relative;
}

#main-div {
  position: relative;
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#loading-div {
  display: block;
  left: 20%;
  position: fixed;
  bottom: 0px;
}

#water-level {
  display: none;
  height: 80%;
  width: 10px;
  background-color: rgb(33, 98, 211);
  position: absolute;
  bottom: 10%;
  right: 10px;
  border-width: 1px;
  border-color: black;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-style: solid;
  border-top: 0px solid black;
}

#water-level-back {
  display: "block";
  height: 80%;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.302);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  position: absolute;
  bottom: 10%;
  right: 10px;
}

#plant-list {
  background-color: green;
}

.plant-img {
  position: absolute;
  padding: 0.5rem;
  margin: 4px;
  height: 24vw;
  width: 24vw;
}

#background-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#debugger {
  background-color: blue;
  position: absolute;
}
