#main-div {
  position: relative;
  display: none;
  width: 100%;
}

#loading-div {
  display: block;
  left: 50%;
}

#water-level {
  display: none;
  height: 80%;
  width: 10px;
  background-color: blue;
  position: absolute;
  bottom: 10%;
  right: 10px;
}

#plant-list {
  background-color: green;
}

.plant-img {
  position: absolute;
  padding: 0.5rem;
  margin: 4px;
  height: 20vw;
  width: 20vw;
}

#background-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#debugger {
  background-color: blue;
  position: absolute;
}
