body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: transparent;
}

#parent {
  min-height: 100%;
  position: relative;
}

#main-div {
  position: relative;
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#loading-div {
  display: block;
  left: 20%;
  position: fixed;
  bottom: 0px;
}

#water-level {
  display: none;
  height: 80%;
  width: 10px;
  background-color: rgb(33, 98, 211);
  position: absolute;
  bottom: 10%;
  right: 10px;
  border-width: 1px;
  border-color: black;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-style: solid;
  border-top: 0px solid black;
}

#water-level-back {
  display: "block";
  height: 80%;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.302);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  position: absolute;
  bottom: 10%;
  right: 10px;
}

#plant-list {
  background-color: green;
}

.plant-img {
  position: absolute;
  padding: 0.5rem;
  margin: 4px;
  height: 24vw;
  width: 24vw;
}

.plant-img-div-outer {
  position: absolute;
  padding: 0.5rem;
  margin: 4px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  height: 24vw;
  width: 24vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.plant-img-button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  height: 10vw;
  width: 10vw;
  margin: 0 auto;
  z-index: 3;
  pointer-events: all;
}

.plant-img-button:active + .plant-img {
  animation-iteration-count: infinite;
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#background-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#debugger {
  background-color: blue;
  position: absolute;
}

#clicker {
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.373);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clicker-ring {
  height: 8px;
  width: 8px;
  border: 2px solid rgb(195, 195, 195);
  border-radius: 50%;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  pointer-events: none;
  animation: pulsate 0.7s;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

/* Modal Styles */
#plant-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: relative;
  background-color: #344e41;
  margin: auto;
  padding: 0;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#close-modal {
  color: black;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
}

#modal-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.plant-option {
  color: black;
  float: left;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: #a3b18a;
  align-items: center;
}

.plant-option:hover,
.plant-option:focus {
  border: 1px solid white;
  background-color: #b3be9f;
  cursor: pointer;
}

.plant-option-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#modal-header {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  justify-content: space-between;
}
